$if(bare)$$body$$else$<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>$if(title)$ $title$ $else$ $docname$ $endif$ $if(tagline)$ - $tagline$ $endif$</title>
		<script src="jquery.js"></script>
		<script src="jquery-cookie.js"></script>
		<script src="jquery-tablesorter.js"></script>
		<script src="strftime.js"></script>
		<script src="config.js"></script>
		<script src="main.js"></script>
		<link rel="stylesheet" type="text/css" href="templates/reset.css" />
		<link rel="stylesheet" type="text/css" href="templates/hack.css" />
		<link rel="stylesheet" type="text/css" id="lights_css" />
		<script>
			var DOCNAME = '$docname$'
			var PROJECT = '$project$'
			//set the lights before rendering starts
			set_lights()
		</script>
	</head>
	<body>
		<header>
			<div class="container">
				<div class="btn-container btn-lights-container">
					<a href="#" class="btn btn-lights" id="lights">lights</a>
				</div>
				$if(homepage)$$else$
				<div class="btn-container btn-home-container">
					<a href="/" class="btn btn-home">luapower</a>
				</div>
				$endif$
				<table id="header_table">
					<tr>
						<td style="vertical-align: middle;" width="100%">
							<h1>$if(title)$ $title$ $else$ $docname$ $endif$</h1>
							<h2>$if(tagline)$ $tagline$ $else$ &nbsp; $endif$</h2>
						</td>
						<td style="vertical-align: middle;" align="right" style="height: 150px">
							$if(homepage)$
								<table><tr><td>
								<a href="https://github.com/luapower" class="btn btn-rightside btn-github"><span class="icon"></span>View on GitHub</a>
								</td></tr><tr><td>
								<a style="visibility: hidden" href="https://github.com/luapower/$project$/tarball/master" class="btn btn-rightside">Download as .tar.gz</a>
								</td></tr><tr><td>
								<a style="visibility: hidden" href="https://github.com/luapower/$project$/zipball/master" class="btn btn-rightside">Download as .zip</a>
								</td></tr></table>
							$else$
							$if(project)$
								<table><tr><td>
								<div class="doc" id="package_info_container">
									<div id="package_info">&nbsp;</div>
									<div id="commit_log">&nbsp;</div>
								</div>
								<a href="https://github.com/luapower/$project$" class="btn btn-rightside btn-github"><span class="icon"></span>View on GitHub</a>
								</td></tr><tr><td>
								<a href="https://github.com/luapower/$project$/tarball/master" class="btn btn-rightside">Download as .tar.gz</a>
								</td></tr><tr><td>
								<a href="https://github.com/luapower/$project$/zipball/master" class="btn btn-rightside">Download as .zip</a>
								</td></tr></table>
							$endif$
							$endif$
						</td>
					</tr>
				</table>
				$if(homepage)$
				$else$
				$if(project)$
				<div class="btn-container btn-discuss-container">
					<a href="https://github.com/luapower/$project$/issues/new" target="_blank"
						class="btn btn-rightside btn-discuss"><span class="icon"></span>Discuss</a>
				</div>
				$endif$
				$endif$
			</div>
		</header>
		<div class="bg-container">
			<div class="bg-center-container">
				$if(project)$
					<div class="bg bg-$project$" style="background-image: url('bg/$project$.png');"></div>
				$else$
					<div class="bg bg-$docname$" style="background-image: url('bg/$docname$.png');"></div>
				$endif$
			</div>
		</div>
		<div class="under-header">
			<div class="container">
				<div id="toc_container" class="toc_container doc"></div>
				<section class="doc">
					<span id="module_info"></span>
					$body$
				</section>
			</div>
			<div class="container">
				<footer>
					<div id="disqus_thread"></div>
					<div class="faint">cosmin.apreutesei@gmail.com | <a href="http://unlicense.org/">public domain</a></div>
				</footer>
			</div>
		</div>
	</body>
</html>
$endif$
