body {background: #fff; color: #000;}
header {background: #fff; border-bottom-color: #663;}
footer {border-top-color: #663;}
.faint {color: #888;}
.faint a:hover {color: white;}
header h1 {
	color: #364619;
	text-shadow:
		0 1px 1px rgba(0, 0, 0, 0.3),
		0 0 5px rgba(181, 232, 83, 0.3),
		0 0 10px rgba(181, 232, 83, 0.3);
}
header h2 {color: #666;}
.btn {background: #ddd; color: #000; text-shadow: 0 1px 0 rgba(1, 1, 1, 0.1);
	box-shadow:
		0 1px 1px rgba(0, 0, 0, 0.3),
		0 0 5px rgba(181, 181, 181, 0.3),
		0 0 10px rgba(232, 232, 232, 0.3);
}
.btn:hover {background: #444; color: #fff;}
.btn-home {color: #fff;background: #00aa00;}
.btn-home:hover {background: #33ee33;}
.btn-lights {color: #fff; background: #00aa00;}
.btn-lights:hover {background: #33ee33;}

.doc h6 {color: #333;}
.doc li:before {color: #364619;}
.doc blockquote {color: #666; border-left-color: #666;}
.doc th {border-bottom-color: #b5e853;}
.doc tr {border-top-color: #ccc; border-bottom-color: #ccc;}
.doc hr {border-bottom-color: #b5e853;}
.doc a {color: #229; text-decoration: none;}
.doc a:hover {text-decoration: underline;}

.doc .sourceCode { color: #000; }
/*  KeyWordTok */
.doc .sourceCode .kw { color: #364619; }
/*  DataTypeTok */
.doc .sourceCode .dt { color: #003; }
/*  DecValTok (decimal value), BaseNTok, FloatTok */
.doc .sourceCode .dv, .doc .sourceCode .bn, .doc .sourceCode .fl { color: #003; }
/*  CharTok */
.doc .sourceCode .ch { color: #006; }
/*  StringTok */
.doc .sourceCode .st { color: #006; }
/*  CommentTok */
.doc .sourceCode .co { color: #060; }
/*  OtherTok */
.doc .sourceCode .ot { color: #333; }
/*  AlertTok */
.doc .sourceCode .al { color: #f00; }
/*  FunctionTok */
.doc .sourceCode .fu { color: #000; }
/*  RegionMarkerTok */
.doc .sourceCode .re { }
/*  ErrorTok */
.doc .sourceCode .er { color: #f00; }
