/* Layout */

body {
	font-size: 12px;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
}

code {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
}

header {
	width: 100%;
	border-bottom: 1px dashed;
	margin-bottom: 30px;
}

hr {
	border-bottom: 1px solid;
}

#header_table {
	height: 140px;
}

#package_info {
	position: relative;
	float: right;
	left: -20px;
	top: -80px;
}

section {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

footer {
	width: 100%;
	border-top: 1px solid;
	padding-top: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.container {
	width: 800px;
	max-width: 90%;
	margin: 0 auto;
	position: relative;
}

.toc_container {
	position: absolute;
	float: left;
	left: -200px;
}

.faint {}
.faint a, .faint a:visited {color: inherit;}
.faint a:hover {}

header h1 { /* page title */
	font-size: 30px;
	margin: 0;
	font-weight: bold;
	letter-spacing: -1px;
}

header h2 { /* tagline */
	font-size: 18px;
	font-weight: 300;
}

.icon {
	width: 22px;
	height: 22px;
	margin: 0px 2px -4px 2px;  /* that -4px thing it's the reason why I deeply hate CSS */
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
}

.bg {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% auto;
	opacity: 0;
	overflow: hidden;
	z-index:-1;
}

.bg-pd {left: 150px; top: 1200px; width: 460px; height: 460px; background-image: url("pd.png");}
.bg-splash {top: -300px; left: 700px; width: 1400px; height: 1400px; background-image: url("splash.png");}
.bg-i-want-you {left: 800px; top: 100px; width: 400px; height: 400px; background-image: url("i_want_you.png");}

/* Buttons */

.btn-container {position: absolute;}

.btn {
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	text-align: center;
	border-radius: 0px;
}

.btn .icon {
	width: 16px;
	height: 16px;
	margin: 1px 8px 0 0;
	float: left;
}

.btn-rightside {
	width: 130px;
	padding: 6px 18px;
	margin: 2px;
}

.btn-home-container {
	float: left;
	left: -206px;
	margin-left: 2em;
	top: 114px;
}

.btn-home {width: 80px; padding: 4px;}

.btn-lights-container {
	float: left;
	left: -206px;
	margin-left: 2em;
}

.btn-lights {width: 80px; padding: 4px;}

.btn-discuss-container {
	width: 100%;
}

.btn-discuss {
	float: right;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 0;
}

.btn-github  .icon {background: url("hack_cat.png") 0 0 no-repeat;}
.btn-discuss .icon {background: url("hack_discuss.png") 0 0 no-repeat;}

/* Package table */

.package_table th.header {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 10px;
	padding-left: 2px;
}

.package_table th.header:hover {text-decoration: underline;}

.doc .package_table td {
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}

/* Document */

.doc td strong {
	font-size: 16px;
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6,
.doc p, .doc hr, .doc table, .doc pre, .doc blockquote {
	margin-top: 20px;
	margin-bottom: 20px;
}

.doc h1, .doc h2, .doc h3, .doc h4 {
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

.doc h1 code, .doc h2 code, .doc h3 code, .doc h4 code {
	text-transform: none;
}

.doc h1 {font-size: 24px; font-weight: normal;}
.doc h2 {font-size: 18px;}
.doc h2 code {font-size: 16px;}
.doc h3 {font-size: 16px;}
.doc h4 {font-size: 15px;font-weight: normal;}

.doc h5 {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.doc h6 {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.doc dt {
	font-style: italic;
	font-weight: bold;
}

.doc ul li {
	list-style: none;
	list-style-position: outside;
	padding-left: 1.5em;
	overflow: visible;
   position: relative;
}

.doc ul li:before {
	content: "»";
	position: absolute;
	left: 0;
	font-size: 13px;
}

.doc ol li {
	list-style: decimal;
	margin-left: 2em;
	overflow: visible;
   position: relative;
}

.doc blockquote {
	padding-left: 10px;
	border-left: 1px dotted;
}

.doc pre {
	padding: 10px;
}

.doc h2 code,
.doc h3 code,
.doc h4 code,
.doc pre code,
.doc td code
	{color: inherit; background-color: inherit;}

.doc th {
	text-align: left;
	border-bottom: 1px dashed;
	padding-top: 8px;
	padding-bottom: 8px;
}

.doc tr {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.doc td {
	width: 1%;
	padding-top: 4px;
	padding-bottom: 4px;
}

.doc a {
	text-decoration: none;
}

.doc a:hover {
	text-decoration: underline;
}

/* Syntax highlighting */

.doc .sourceCode {}

/*  KeyWordTok */
.doc .sourceCode .kw {}
/*  DataTypeTok */
.doc .sourceCode .dt {}
/*  DecValTok (decimal value), BaseNTok, FloatTok */
.doc .sourceCode .dv, .doc .sourceCode .bn, .doc .sourceCode .fl {}
/*  CharTok */
.doc .sourceCode .ch {}
/*  StringTok */
.doc .sourceCode .st {}
/*  CommentTok */
.doc .sourceCode .co {}
/*  OtherTok */
.doc .sourceCode .ot {}
/*  AlertTok */
.doc .sourceCode .al {}
/*  FunctionTok */
.doc .sourceCode .fu {}
/*  RegionMarkerTok */
.doc .sourceCode .re {}
/*  ErrorTok */
.doc .sourceCode .er {}

