body {background: #151515 url("hack_bg.png") 0 0; color: #ddd;}
header {background: rgba(0, 0, 0, 0.3); border-bottom-color: #663;}
footer {border-top-color: #663;}
.faint {color: #888;}
.faint a:hover {color: white;}
header h1 {
	color: #669900;
	text-shadow: 2px 2px rgba(0, 0, 0, .6);
}
header h2 {color: #666;}

.toc-selected {color: #fff;}

.icon-mingw32-disabled   {background-image:url("icons/icon-mingw32-dark.png");}
.icon-mingw64-disabled   {background-image:url("icons/icon-mingw64-dark.png");}
.icon-linux32-disabled   {background-image:url("icons/icon-linux32-dark.png");}
.icon-linux64-disabled   {background-image:url("icons/icon-linux64-dark.png");}
.icon-macosx32-disabled  {background-image:url("icons/icon-macosx32-dark.png");}
.icon-macosx64-disabled  {background-image:url("icons/icon-macosx64-dark.png");}
.icon-android-disabled   {background-image:url("icons/icon-android-dark.png");}
.icon-lua-disabled       {background-image:url("icons/icon-lua-dark.png");}
.icon-luajit-disabled    {background-image:url("icons/icon-luajit-dark.png");}
.icon-mingw32-enabled    {background-image:url("icons/icon-mingw32-light.png");}
.icon-mingw64-enabled    {background-image:url("icons/icon-mingw64-light.png");}
.icon-linux32-enabled    {background-image:url("icons/icon-linux32-light.png");}
.icon-linux64-enabled    {background-image:url("icons/icon-linux64-light.png");}
.icon-macosx32-enabled   {background-image:url("icons/icon-macosx32-light.png");}
.icon-macosx64-enabled   {background-image:url("icons/icon-macosx64-light.png");}
.icon-android-enabled    {background-image:url("icons/icon-android-light.png");}
.icon-lua-enabled        {background-image:url("icons/icon-lua-light.png");}
.icon-luajit-enabled     {background-image:url("icons/icon-luajit-light.png");}

.pd-logo-image {background: url("pd.png") 0 0;}
.btn {
	color: #bbb;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
	box-shadow:
		0 1px 1px rgba(0, 0, 0, .8),
		0 0 5px rgba(25, 25, 25, .6);
}
.btn:hover {color: #fff;}
.btn-rightside {background: #222;}
.btn-rightside:hover {background: #444;}
.btn-home {color: #fff; background: #00aa00;}
.btn-home:hover {background: #33ee33;}
.btn-lights {background: #333;}
.btn-lights:hover {color: #000; background: #fff;}
.btn-discuss {color: #fff; background: #4586AC;}
.btn-discuss:hover {color: #fff; background: #82CDF7;}

.package_table th.header:hover {color: #fff;}
.package_table th.tablesorter-headerAsc {background-image: url("asc_light.gif");}
.package_table th.tablesorter-headerDesc {background-image: url("desc_light.gif");}

.doc h1, .doc h2, .doc h3, .doc h4 {color: #f3f3f3;}
.doc li:before {color: #b5e853;}
.doc blockquote {color: #aaa; border-left-color: #666;}
.doc pre {border: 1px solid #101010; background-color: #111;}
.doc tr {border-top-color: #333; border-bottom-color: #333;}
.doc hr {border-bottom-color: #333;}
.doc a {color: #63c0f5; text-decoration: none;}
.doc a:hover {text-decoration: underline;}
.doc code {color: #ff9;}

.doc .sourceCode { color: #FFFFFF; }
/*  KeyWordTok */
.doc .sourceCode .kw { color: #FFFFFF; }
/*  DataTypeTok */
.doc .sourceCode .dt { color: #FFFFCC; }
/*  DecValTok (decimal value), BaseNTok, FloatTok */
.doc .sourceCode .dv, .doc .sourceCode .bn, .doc .sourceCode .fl { color: #CCCCFF; }
/*  CharTok */
.doc .sourceCode .ch { color: #FF6666; }
/*  StringTok */
.doc .sourceCode .st { color: #FF6666; }
/*  CommentTok */
.doc .sourceCode .co { color: #99CC99; }
/*  OtherTok */
.doc .sourceCode .ot { color: #CCCCCC; }
/*  AlertTok */
.doc .sourceCode .al { color: #FF0000; }
/*  FunctionTok */
.doc .sourceCode .fu { color: #FFFFFF; }
/*  RegionMarkerTok */
.doc .sourceCode .re { }
/*  ErrorTok */
.doc .sourceCode .er { color: #FF0000; }
