<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<base target="_parent" />
		<script src="templates/jquery.js"></script>
		<script src="templates/jquery-cookie.js"></script>
		<script src="templates/strftime.js"></script>
		<script src="templates/main.js"></script>
		<link rel="stylesheet" type="text/css" href="templates/reset.css" />
		<link rel="stylesheet" type="text/css" href="templates/hack.css" />
		<div id="lights_css"></div>
		<script>
			lights()
		</script>
	</head>
	<body>
		<section class="doc">
			$body$
		</section>
	</body>
</html>
