body {background: #fff; color: #000;}
header {background: #f0f0f0; border-bottom-color: #663;}
footer {border-top-color: #bbb;}
.faint, .faint a, .faint a:visited {color: #888 !important;}
.faint a:hover {color: #000 !important;}
header h1 {
	color: #364619;
	text-shadow: 1px 1px rgba(1, 1, 1, .1);
}
header h2 {color: #666;}
hr {border-bottom-color: #bbb;}

.toc-selected {background-color: #d8d8d8;}

.icon-mingw32-disabled   {background-image:url("icons/icon-mingw32-light.png");}
.icon-mingw64-disabled   {background-image:url("icons/icon-mingw64-light.png");}
.icon-linux32-disabled   {background-image:url("icons/icon-linux32-light.png"); opacity: 0.6;}
.icon-linux64-disabled   {background-image:url("icons/icon-linux64-light.png"); opacity: 0.6;}
.icon-osx32-disabled     {background-image:url("icons/icon-osx32-light.png");}
.icon-osx64-disabled     {background-image:url("icons/icon-osx64-light.png");}
.icon-android-disabled   {background-image:url("icons/icon-android-light.png");}
.icon-lua-disabled       {background-image:url("icons/icon-lua-light.png");}
.icon-luajit-disabled    {background-image:url("icons/icon-luajit-light.png");}
.icon-mingw32-enabled    {background-image:url("icons/icon-mingw32-dark.png");}
.icon-mingw64-enabled    {background-image:url("icons/icon-mingw64-dark.png");}
.icon-linux32-enabled    {background-image:url("icons/icon-linux32-dark.png");}
.icon-linux64-enabled    {background-image:url("icons/icon-linux64-dark.png");}
.icon-osx32-enabled      {background-image:url("icons/icon-osx32-dark.png");}
.icon-osx64-enabled      {background-image:url("icons/icon-osx64-dark.png");}
.icon-android-enabled    {background-image:url("icons/icon-android-dark.png");}
.icon-lua-enabled        {background-image:url("icons/icon-lua-dark.png");}
.icon-luajit-enabled     {background-image:url("icons/icon-luajit-dark.png");}

.bg-index {opacity: 0.8;}
.bg-get-involved {opacity: 0.2;}
.bg-glue {opacity: 0.4;}
.bg-codedit {opacity: 0.7;}

.btn {
	color: #bbb;
	text-shadow: 0 1px 0 rgba(1, 1, 1, .1);
	box-shadow:
		0 1px 1px rgba(0, 0, 0, .1),
		1px 1px 2px rgba(1, 1, 1, .1);
}
.btn:hover {color: #fff;}
.btn-rightside {color: #fff; background: #888;}
.btn-rightside:hover {background: #444;}
.btn-home {color: #fff; background: #00aa00}
.btn-home:hover {background: #33ee33}
.btn-lights {color: #fff; background: #888;}
.btn-lights:hover {color: #fff; background: #000;}
.btn-discuss {color: #fff; background: #63c0f5;}
.btn-discuss:hover {color: #fff; background: #82CDF7;}

#package_table th.header:hover {color: #000;}
#package_table th.tablesorter-headerAsc {background-image: url("asc_dark.gif");}
#package_table th.tablesorter-headerDesc {background-image: url("desc_dark.gif");}

.doc h5, .doc h6 {color: #333;}
.doc li:before {color: #364619;}
.doc pre {background-color: #d8d8d8;}
.doc tr {border-top-color: #bbb; border-bottom-color: #bbb;}
.doc a {color: #00a; text-decoration: none;}
.doc a:hover {text-decoration: underline;}
.doc code {color: #000; background-color: #eee;}
.doc blockquote {color: #666; border-left-color: #444;}
.doc blockquote code {color: #666; background-color: #eee;}
.doc blockquote a {color: #228;}

.doc .sourceCode { color: #000; }
/*  KeyWordTok */
.doc .sourceCode .kw { color: #364619; }
/*  DataTypeTok */
.doc .sourceCode .dt { color: #003; }
/*  DecValTok (decimal value), BaseNTok, FloatTok */
.doc .sourceCode .dv, .doc .sourceCode .bn, .doc .sourceCode .fl { color: #003; }
/*  CharTok */
.doc .sourceCode .ch { color: #006; }
/*  StringTok */
.doc .sourceCode .st { color: #006; }
/*  CommentTok */
.doc .sourceCode .co { color: #060; }
/*  OtherTok */
.doc .sourceCode .ot { color: #333; }
/*  AlertTok */
.doc .sourceCode .al { color: #f00; }
/*  FunctionTok */
.doc .sourceCode .fu { color: #000; }
/*  RegionMarkerTok */
.doc .sourceCode .re { }
/*  ErrorTok */
.doc .sourceCode .er { color: #f00; }
